 
            
{% if links %}                    
                    <div class="aside-widget">
                        <header>
                            <h3>友情链接</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                {% for link in links %}
                                <li><a href="{{ link.url }}">{{ link.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
{% endif %}            

{% if categories %}   
                    <div class="aside-widget">
                        <header>
                            <h3>分类</h3>
                        </header>
                        <div class="body">
                            <ul class="clean-list">
                                {% for category in categories %}
                                <li>
                                <a href="{{ url_for('blog.show_category', category_id=category.id) }}">
                                {{ category.name }} </a>
                                <span class="badge badge-primary badge-pill"> {{ category.posts|length }}</span>
                               </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
{% endif %}
     
                    
